<!-- start custom head snippets -->

<!-- Busuanzi counter (zkeq implementation) -->
<!-- <script async src="https://busuanzi.icodeq.com/busuanzi.pure.mini.js"></script> -->
<!-- end Busuanzi counter (zkeq implementation) -->

<!-- Busuanzi counter (official ibruce implementation) -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<!-- end Busuanzi counter (official ibruce implementation) -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->